.buttons {
    max-width: 75%;
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem auto;
    gap: 2rem;
}